body {
  background-color: #1C4A1F;
}

#shell-panel {
  height: 100px;
  width: 97.0%;
  color: #00fe00;
  position: fixed;
  padding: 20px 20px 20px 20px;
  top: 0;
  left: 0;
  z-index: 1000;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 0.9em;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}
